input::-ms-clear {
	display: none
}
input::-ms-reveal {
	display: none
}

:root {
  --swiper-theme-color: #fff !important;
}

.swiper-pagination-bullet{
  padding: 10px 0 !important;
  border-radius: inherit !important;
  width: 30px !important;
  height: 2px !important;
  background: transparent !important;
  opacity: 0.5 !important;
  border-bottom: 2px solid #FFF;
}

.swiper-pagination-bullet-active{
  opacity: 1 !important;
}